.footer
{   padding-top: 60px;
    padding-bottom: 60px;
    height: 603px;
    background-color: $hero-footer-color;
    @media screen and(min-width: $tablet) {
        height: 463px;
    }
    @media screen and(min-width: $desktop) 
    {
        height: 252px;
    }
}

.footer-list
{ 
    
    margin-bottom: -60px;
    @media screen and(min-width: $tablet) {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        // margin-right: -165px;
   
    }
    @media screen and(min-width: $desktop) 
    {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}
.footer-items{
    // &:not(:last-child){
                margin-bottom: 60px;
            // }
    // width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     
    @media screen and(min-width: $tablet) {
        
        flex-basis: calc((100% / 2)-165px);
        &:nth-child(1){
        margin-right: 165px;}
          
    }

    @media screen and(min-width: $desktop) 
    {
        margin-bottom: 0;
        margin-right: 0;
        
        &:nth-child(1){
            margin-right: 70px;}
        
   }
}
.footer-contact{
    text-align: center;
    @media screen and(min-width: $desktop) {
        text-align:left;
    }

   
    // }
}
.logo-text__footer{
    
}
.logo-text__footer--white
{ 
   color: $logo-text-white;
}
.address-list{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 20px;
       
    
}
.address-list__item{
    
    &:not(:last-child)
    {
    margin-bottom: 8px;
    }
    
  
    
}
.address-list__link
{ 
@include font(400, 14px, 1.71, 0.03em);
color: rgba(255, 255, 255, 0.6);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus,
&:hover
{
    color: $accent-text-color; 
}
}

.address-list__link-white{
    color:$text-color-white;
}
.footer-social{
    text-align: center;
    @media screen and(min-width: $desktop) {
        text-align:left;
    }
    }
.footer-container__title{
    
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: $logo-text-white;
    margin-bottom: 20px;

          
    }
    
       
    .label-send{
        display: inline-block;
        
    }
.footer-send{
   
input:focus{
outline: none;
border: 1px solid $accent-text-color;
}
@media screen and(min-width: $desktop) {
    display: flex;
     margin-left: auto;
    }
}
    
    .footer-send-field{
    
          input
        {
            margin: 0;
            padding: 15px 16px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-sizing: border-box;
            border-radius: 4px;
           
            @include font(400, 16px, 1.25, 0.03em);
            color: $text-color-white;
            background-color:transparent;
            height: 50px;
            width: 450px;
            @media screen and(min-width: $desktop) {
            width: 358px;
           }
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
           
            &::placeholder{
                color: rgba(255, 255, 255, 0.6);
            }
        }
            display: flex;
            flex-direction: column;
            align-items: center;

         @media screen and(min-width: $desktop) {
            flex-direction: row;
            align-items:baseline;
        }   
       
    }
    .online-form{
    text-align: center; 
    @media screen and(min-width: $desktop) {
        text-align:left;
    }
    }   
        
            
    .button-send{
        
        margin-top: 20px;
        @extend %align-items;
        justify-content: center;
               
        &:hover,
        &:focus
        {
            background-color: #188CE8;
        
        }
        @media screen and(min-width: $desktop) {

            margin-top: 0; 
            margin-left: 12px;
        }
    }
    
.button-send__icon
{
    width: 24px;
    height: 24px;
    fill: $bgc-main;
    margin-left: 10px;
}
