.hero
{ 
    max-width: 1600px;
    height: 600px;  
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin: auto;      
}

.hero-content{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-content__title
{   margin-bottom: 30px;
    
    @include font(900, 44px, 1.36, 0.06em);
    text-transform: uppercase;
    color: $text-color-white;
}

